version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - weather-net

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - weather-net

  namenode:
      image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
      container_name: namenode
      restart: always
      ports:
        - 9870:9870
        - 9000:9000
      volumes:
        - hdfs_namenode:/hadoop/dfs/name
        - ./myhadoop:/myhadoop
      environment:
        - CLUSTER_NAME=test
      env_file:
        - ./hadoop.env
      networks:
        - weather-net

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    volumes:
      - hdfs_datanode:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop.env
    networks:
      - weather-net

  spark:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark
    volumes:
      - ./spark:/app/spark            # Code Spark
      - ./.env:/app/spark/.env        # Variables d'environnement
    depends_on:
      - kafka
      - namenode
      - datanode
    command: tail -f /dev/null
    ports:
      - "4040:4040"
    networks:
      - weather-net
  pyspark-notebook:
    image: jupyter/pyspark-notebook:latest
    container_name: pyspark_notebook
    ports:
      - "8888:8888"
    volumes:
      - ./spark:/home/jovyan/work
    environment:
      PYSPARK_SUBMIT_ARGS: >
        --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.0.1,org.apache.kafka:kafka-clients:2.6.0
        pyspark-shell
    command: >
      bash -c "
        pip install --no-cache-dir requests kafka-python python-dotenv hdfs && start-notebook.sh
          
          
          
          
      "
    networks:
      - weather-net


volumes:
  hdfs_namenode:
  hdfs_datanode:

networks:
  weather-net:
    driver: bridge